<%= render 'shared/header', page_title: "Dashboard" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "My Profile", edit_user_registration_path, class: "btn btn-lg form-control btn-fresh" %>
      <%= link_to "+ Create an Issue", new_user_issue_path(current_user), class: "btn btn-lg form-control btn-fresh"  %>
      <div class="btn btn-lg form-control btn-fresh" id="view-issues-btn">
        <p>Show All Issues</p>
      </div>
    </div>
  </div>
  <br><br> <!-- take line breaks out!!! -->
  <div id="issues-table">
    <%= render 'table', issues: @issues %>
  </div>
</div> <!-- end container -->
