<header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="intro-text text-center">
          <h1>The simple way to create, update, and track customer service issues.</h1>
        </div>
      </div>
    </div>
  </div>
</header>