<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-sm-12">
        <div class="intro-text text-center">
          <% if user_signed_in? %>
            <h1>Hello <%= current_user.first_name %></h1>
          <% else %>
            <h1>The easy way to create, update, and track customer service issues.</h1>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>