<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-sm-12">
        <div class="intro-text text-center">

          <h1 id="title"><%= image_tag "favicon.png", class: "logo" %>Service Trackr</h1>
          <h2>The easy way to create, update, and track customer service issues.</h2>
        </div>
      </div>
    </div>
  </div>
</header>