/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweet-alert
 *= require_self
 */

 html, body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
 }

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#page-header {

}

#page-content {
  padding-bottom: 360px;
}

#page-footer {
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ccc;
}

header {
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 100px 0;
  color: white;
  background-color: #037fb2;
}

footer {
  ul {
    list-style: none;
    padding: 110px 0 0;
    font-size: 12px;
  }
}

table{
  margin-top: 50px;
}

.table-body {
  tr:hover {
    background-color: #D9EDF7;
  }

  td {
    cursor: pointer;
  }
}

.intro-text {
  h1{
    font-size: 48px;
  }
}

.login-form {
  margin-top: 100px;
}

.form-fresh {
  min-height: 75px;
  font-size: 18px;
  p {
    padding: 12px 0;
  }
}

.textarea-fresh {
  resize: none;
  min-height: 300px;
  font-size: 18px;
}

#issues-table {
  display: none;
}

.issue-info {
  margin-bottom: 75px;
}

.entry {
  margin: 10px 0;
}

.entry:first-child {
  margin: 50px 0 0 0;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 60px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}