
.btn-fresh {
  background-color: #037fb2;
  color: white;
  border-radius: 0;
  padding: 20px;
  min-width: 200px;
  min-height: 100px;
  font-size: 24px;
}

.btn-fresh:hover {
  color: white;
  background-color: #0190CB;
}